aiohttp==3.9.5
backoff==2.2.1
fastapi==0.112.1
gradio==4.42.0
gradio_toggle==1.0.4
httpx==0.27.0
multiprocess==0.70.16
openai==1.42.0
Pebble==5.0.7
python_dateutil==2.9.0.post0
regex==2023.12.25
selenium==4.23.1
timeout_decorator==0.5.0
torch==2.3.0
tqdm==4.66.4
transformers==4.42.3
uvicorn==0.30.6
vllm==0.5.1
